/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
